# System files
.DS_Store
Thumbs.db

# Editor directories and files
.vscode/
.idea/
*.swp
*.swo

# Node.js dependencies
node_modules/
npm-debug.log
yarn-error.log

# Build files
dist/
build/

# Local env files
.env.local
.env
.env.development.local
.env.test.local
.env.production.local

# Log files
*.log

# Local development files
.cache/
.history/

# Backup files
*.bak
*~
